  <div class="postbox">
  <div class="postContainer">
    <div class="text-center">
      <div class="well">
        <h4><%= @userPosts.first.user.name %> posts:</h4>
        <hr data-brackets-id="12673">
        <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">   
          <% @userPosts.each do |post| %>
              <strong class="pull-left primary-font"><%= post.user.name %></strong>
                <small class="pull-right text-muted">
                 <% if logged_in? %>
                     <% if current_user.id == post.user_id %>
                       <span class="glyphicon glyphicon-remove"></span>
                       <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  <% end %>
                 </small>
              <br>
              <li class="ui-state-default"><%= post.content %></li>
              <br>
      
          <% end %>
          <%= will_paginate @userPosts %>
        </ul>
      </div>
    </div>
  </div>
  </div>