    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <%= link_to "Companies dashboard", root_path, id: "logo", class:"btn btn-default"  %>

            
          <ul class="nav navbar-nav navbar-right vcenter">
              <% if current_user %>
                <li class="loggedmail vcenter">Logged in as <%= current_user.email %></li>
                <li><%= link_to "Log out", logout_path, method:"delete", class:"btn btn-default right" %></li>
                
              <% else %>
                <li><%= link_to "Register now!", 'sign_up', class: "btn btn-lg btn-primary" %></li>
                <li><%= link_to "Log in", login_path , class:"btn btn-default right"%></li>
                
              <% end %>
          </ul>
        </nav>
      </div>
    </header>