<div class="postbox">
  <h1>Listing Posts</h1>
  <!--
  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
          <td><%= post.user_id %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  -->
  <div class="postContainer">
    <div class="text-center">
      <div class="well">
        <h4>What is on your mind?</h4>
        <p id="notice"><%= notice %></p>
        <div class="input-group">
          
          <% if logged_in? %>
            <%= form_for(@posts.new) do |f| %>
            <span class="input-group-btn" onclick="addComment()"> 
              <%= f.text_field :content, :id =>'userComment', :class => 'form-control input-sm chat-input', :placeholder => 'Write your message here...'%>
              
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= button_tag(type: 'submit', class: "btn btn-primary btn-sm") do %> <span class="glyphicon glyphicon-comment"></span>Add Comment <% end %>
              </span>
            <% end %>
          <%end%>
          
        </div>
        <hr data-brackets-id="12673">
        <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">   
          <% @paginatedPost.each do |post| %>
              <strong class="pull-left primary-font">
                <a href="/mainboard?page=1&user_id=<%= post.user_id %>"><%= post.user.name %></a>
              </strong>
                <small class="pull-right text-muted">
                 <% if logged_in? %>
                     <% if current_user.id == post.user_id %>
                       <span class="glyphicon glyphicon-remove"></span>
                       <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  <% end %>
                 </small>
              <br>
              <li class="ui-state-default"><%= post.content %></li>
              <br>
      
          <% end %>
          <%= will_paginate @paginatedPost %>
            <!--
              <strong class="pull-left primary-font">James</strong>
              <small class="pull-right text-muted">
                 <span class="glyphicon glyphicon-time"></span>7 mins ago</small>
              </br>
              <li class="ui-state-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>
              </br>
               <strong class="pull-left primary-font">Taylor</strong>
              <small class="pull-right text-muted">
                 <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
              </br>
              <li class="ui-state-default">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
              -->
        </ul>
      </div>
    </div>
  </div>
</div>